<div>Select from the files you've added locally to your machine:</div>
<div>
  <!-- TODO: add a dropdown of all the previous jsons -->
  <ng-container *ngIf="localStorageList$ | async as localStorageList">
    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select (selectionChange)="changeMarkingPage($event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let rubricName of localStorageList" [value]="rubricName">{{ rubricName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
<div>
  <h2>Enter the json of a new rubric here</h2>
  <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Class Name</mat-label>
      <input matInput class="highlight-on-click" placeholder="WEB601" id="className" formControlName="className" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Assignment/Test Number</mat-label>
      <input matInput class="highlight-on-click" placeholder="As1" id="assessmentNumber"
        formControlName="assessmentNumber" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>JSON Feedback Code</mat-label>
      <textarea matInput id="jsonCode" formControlName="jsonCode"></textarea>
    </mat-form-field>

    <button type="submit" [disabled]="!assessmentForm.valid">Submit new rubric</button>
  </form>
</div>
