$labelChildElementPadding: 12px;
.wrapper {
  margin: 8px;
  padding: 8px;

  label {
    display: flex;
    flex-direction: row;
    margin: 8px 0;

    span {
      display: inline-block;
      padding: $labelChildElementPadding;
    }
    input {
      flex-grow: 1;
      padding: $labelChildElementPadding;
    }
  }
}
