:host {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}
.content-wrapper {
  padding: 16px;
  text-align: center;
}
a {
  cursor: pointer;
}

.mat-column-rubricDescription {
}

.mat-column-rubricScore,
.valueWorth {
  flex: 0 0 15%;
}

.mat-column-pointsAwarded,
.toggle-button {
  flex: 0 0 15%;
}

.feedback-wrapper {
  height: 48px;
  align-items: center;
  padding: 0 16px;

  .feedback {
    display: flex;
    align-items: center;

    a {
      margin-right: 8px;
    }
  }
  .deduction {
    display: flex;
    padding-left: 24px;
  }
  .toggle-button {
    display: flex;
    padding-left: 40px;

    span.mat-checkbox-inner-container {
      width: 24px;
      height: 24px;
    }
  }
}

.odd-row {
  background-color: #ddd;
}
.applied.addition {
  background-color: green;
  color: #ffffff;
}
.applied.subtraction {
  background-color: orange;
}

mat-row.detail-row {
  height: 0;
  min-height: 0;
}

mat-row.expanded-row + mat-row.detail-row {
  height: auto;
}

mat-row.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

mat-row.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row mat-cell {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  width: calc(100% - 48px);
}

.output-table-wrapper {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & > div {
    border: 1px solid #000;
    padding: 16px;
  }
}

.teacher-note {
  margin: 8px 0;
  padding: 8px;
}
.teacher-note.warning {
  background-color: orange;
}
