:host {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}
a {
  cursor: pointer;
}

.mat-column-rubricDescription {
}

.mat-column-rubricScore,
.deduction {
  flex: 0 0 15%;
}

.mat-column-pointsAwarded,
.toggle-button {
  flex: 0 0 15%;
}

.feedback-wrapper {
  height: 48px;
  align-items: center;
  padding: 0 16px;
}

.applied {
  background-color: #999;
}

mat-row.detail-row {
  height: 0;
  min-height: 0;
  display: table-row;
}

mat-row.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

mat-row.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row mat-cell {
  border-bottom-width: 0;
}

.element-big-cell {
  width: calc(100vw - 24px);
}

.element-detail {
  overflow: hidden;
  display: flex;
  width: calc(100% - 48px);
}
